:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #eeeff3;
  text-decoration: inherit;
}
a:hover {
  color: #e2e2e9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e3d9d9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  float: right;
}

label {
  display: block;
  position: relative;
  width: 9rem;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid #cec7c7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c8c5c5;
  font-weight: bold;
  cursor: pointer;
}

#editor {
  margin: 1rem;
  height: 46rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #646cff;
  border-radius: 10px;
}
.file_operations{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
#saveit{
  padding: 0.4rem;
}
#saveit:hover{
  background-color: #646cff96;
  border-radius: 5px;
}
#img {
  display: none;
  width: 30rem;
  height: 20rem;
  aspect-ratio: 3/4;
}

.filters{
  display: flex;
  gap: 4rem;
  position: absolute;
  bottom: 5rem;
}

@media (max-width:745px){
  #editor{
    height:40rem;
  }
  #img {
  width: 20rem;
  height: 10rem;
}
}